# calculadora {
    fundo :  rgb ( 101 ,  161 ,  146 );
    largura :  200px ; _
    preenchimento :  20px ; _
    raio da borda :  10 px ;
}
# entrada da calculadora  {
    fundo :  rgb ( 63 ,  73 ,  69 );
    cor :  rgb ( 238 ,  255 ,  0 );
    raio da borda :  10 px ;
    preenchimento :  5px ; _
}
# botão calculadora  {
    fundo :  rgb ( 170 ,  57 ,  76 );
    cor : branco;
    margem superior :  10 px ;
    preenchimento :  5px ; _
    raio da borda :  10 px ;
}
# botão calculadora  : hover {
    fundo :  rgb ( 126 ,  100 ,  104 );
    cor :  rgb ( 0 ,  0 ,  0 );
    cursor : ponteiro;
}
# spTotal {
    fundo : preto;
    cor : amarelo;
    raio da borda :  10 px ;
    preenchimento :  5px ; _
    font-family :  'Courier New' , Courier , monospace;
}
. spLista {
    fundo :  rgb ( 233 ,  213 ,  233 );
    raio da borda :  10 px ;
    font-family :  'Lucida Sans' ,  'Lucida Sans Regular' ,  'Lucida Grande' ,  'Lucida Sans Unicode' , Geneva , Verdana , sans-serif;
    cor : vermelho;
    largura :  200px ; _
}
